html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.attacker {
  background-image: url("../images/anonymous_mask.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100px;
  margin-left: -40px;
  margin-top: -50px;
  position: absolute;
  width: 80px;
}

.defenders {
  background-image: url("../images/seje_ministre.png");
  height: 331px;
  left: 50%;
  margin-left: -180px;
  margin-top: -165px;
  position: absolute;
  top: 50%;
  width: 361px;
}

.healthbar {
  background: rgba(255,0,0,0.3);
  left: 0;
  padding: 8px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.healthbar-health {
  background: red;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  padding: 8px 0;
  white-space: nowrap;
  width: 45%;
}

.missile {
  background: url("../images/paragraph.png") no-repeat 50% 50%;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  width: 40px;

  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

.stage {
  background: #000000;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
