html, body {
  font-family: inconsolata, courier;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.attacker {
  background-image: url("../images/anonymous_mask.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100px;
  margin-left: -40px;
  margin-top: -50px;
  position: absolute;
  width: 80px;
}

.defenders {
  background-image: url("../images/seje_ministre.png");
  height: 331px;
  left: 50%;
  margin-left: -180px;
  margin-top: -165px;
  position: absolute;
  top: 50%;
  width: 361px;
}

.healthbar {
  background: rgba(255,0,0,0.3);
  display: none;
  left: 0;
  padding: 8px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.healthbar-health {
  background: red;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  padding: 8px 0;
  white-space: nowrap;
  width: 45%;
}
.stage-level .healthbar {
  display: block;
}

.dialog {
  background: #ffffff;
  box-sizing: border-box;
  left: 50%;
  margin-left: -250px;
  padding: 2em;
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  top: 50%;
  width: 500px;
  z-index: 200;
}
.dialog h1 {
  font-size: 3em;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.dialog p {
  margin: 0.5em 0;
}

.menu {
  display: none;
}
.stage-menu .menu {
  display: block;
}
.game-over {
  display: none;
}
.stage-game-over .game-over {
  display: block;
}

.missile {
  background: url("../images/paragraph.png") no-repeat 50% 50%;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  width: 40px;

  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

.stage {
  background: #000000;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
